@mixin btnHeaderStyle {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1000px;
  position: relative;
  /* animation */
  transition: all 0.2s;
  font-size: $default-font-size;

  //Change for the <button> element
  border: none;
  cursor: pointer;
}

@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
